body {
  /* font-family: Arial, sans-serif; */
  font-size:18px;
  background-color: #EEEEEE;
  margin: 40px auto;
  max-width:650px;
  line-height:1.6;
  color:#444;
  padding:0 10px;
}

section {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  padding: 24px;
  border-radius: 6px;
}
h1,h2,h3 {
  color: #444;
  line-height:1.2;
}
button {
  background:#444;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:4px;
}